tower/.config/*
!bspwm
!dconf
!dunst
!geany
!gtk-3.0
!Kvantum
!neofetch
!networkmanager-dmenu
!qt5ct
!ranger
!rofi
!Thunar
!xfce4
!mimeapps.list
!picom.conf

laptop/.config/*
!bspwm
!dconf
!dunst
!geany
!gtk-3.0
!Kvantum
!neofetch
!networkmanager-dmenu
!qt5ct
!ranger
!rofi
!Thunar
!xfce4
!mimeapps.list
!picom.conf


